nav {
  background-color: #4242f0;
  color: white;
  font-size: 10pt;
}

.header-nav, #sign-out {
  display: flex;
  height: 47px;
  border-bottom: solid 1px white;
  padding-bottom: 10px;
}

.header-logo {
  display: inline-block;
  height: 45px;
}

.header-button {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: 300;
  letter-spacing: 0.09em;
  line-height: 1.65em;
}

.header-button {
  height: 45px;
  padding: 8px 1px 14px 1px;
  margin: 0 15px;
}

#home {
  width: 75px;
}

#matches {
  width: 125px;
}

#messages {
  width: 150px;
}

#profile-text {
  width: 100px;
  margin-left: 0;
  padding-left: 0;
}

.header-button div {
  cursor: pointer;
  display: inline-flex;
}

#profile-link, #sign-out input {
  background-color: #4242f0;
  display: inline-block;
  text-align: center;
  line-height: 1.65em;
  color: white;
}

#sign-out input {
  line-height: 1.65em;
}

#sign-out {
  padding: 7px 15px;
  background-color: #4242f0;
  display: flex;
  float: right;
}

.header-button:active, .header-button:hover, #sign-out input:hover, #sign-out input:active {
  color: #bfbfbf;
  font-size: 11pt;
}

.show {
  border-radius: 50%;
  background-color: red;
  padding: 0 8px;
  display:inline-block;
  margin-left: 3px;
  cursor: pointer;
}

.hide {
  background-color: #4242f0;
  display: none;
}

#profile-link {
  height: 45px;
  margin-left: 15px;
  cursor: pointer;
}

#img-icon {
  padding: 0;
  height: 37px;
  width: 37px;
  margin: 1px;
  border-radius: 100%;
  z-index: -1;
  cursor: pointer;
}

#profile-link:hover a {
  color: #bfbfbf;
  font-size: 11pt;
}
