.interest-list {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.interest-item {
  padding: 5px 0;
}

.remove-interest {
  margin: 0 0 0 5px;
  border-radius: 25%;
  font-size: 8pt;
  vertical-align: center;
  padding: 2px 5px;
}

.interest-submit-form input[type="text"], .interest-submit-form .profile-button {
  height: 30px;
  padding: 5px;
  margin: 5px;
}
