.likes-container {
  margin-left: 50px;
  display: block;
  width: 1000px;
  height: 100%;
  position: relative;
}

.likes-div {
  margin-top: 50px;
  margin:50px 10px 10px 10px;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  border: solid 1px;
  border-radius: 10px;
  padding: 20px;
  height: 500px;
}

.like-list-item li.user-item {
  height: 20px;
  display: inline-block;
}

div.likes {
  height:100%;
}

.match-text  {
  padding: 0 0 15px 10px;
  margin-left: 5px;
  height: 10px;
  display: inline-block;
}
