.unread {
  font-weight: bold;
  width: 100%;
}

.read {
  font-weight: normal;
  width: 100%;
}

.message-container {
  margin-left: 50px;
  margin: 50px auto;
  display: block;
  width: 1000px;
  position: relative;
}

.message-ul {
  margin: 5px;
  display: inline-block;
  width: 350px;
}

.message-list-item {
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  width: 90%;
}

.message-list-item * {
  cursor: pointer;
}

.message-list-item:hover {
  background-color: #b3d1ff;
}

.remove-interest, .read, .unread {
  display: inline-block;
  margin-right: 5px;
}

.date {
  float: right;
}

.date-label {
  margin-right: 10px;
  float: right;
}

.message-details, .message-panel {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  background-color: white;
  border: solid 1px;
  border-radius: 10px;
  margin: 0 10px;
}

.message-details-hidden {
  visibility: hidden;
  visibility: visible;
  min-height: 100%;
}

.message-details {
  visibility: visible;
}

.time {
  padding-top: 5px;
}

.message-body {
  font-size: 12pt;
  margin-top: 45px;
}

.message-image, .title-container {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.new-message-button {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 5px 5px;
  height: 30px;
  border-radius: 5px;
}

.new-message-button:hover {
  color: #999999;
}

.new-message-button:active {
  color: #999999;
}

.new-message-form input[type="text"] {
  border: solid 1px;
  padding: 5px;
  margin: 5px;
  border-color: #e3e3e3;
}

.new-message-form textarea {
  vertical-align: top;
}
