.blank {
  height: 170px;
  width: 170px;
}

.profile {
  height: 170px;
  width: 170px;
  object-fit: cover;
  background-color: transparent;
  border-radius: 100%;
}

.larger-image {
  object-fit: cover;
  height: 170px;
  width: 170px;
  background-color: transparent;
  border-radius: 25px;
}

.message-image {
  white-space: nowrap;
  width: 80px;
  object-fit: cover;
  cursor: pointer;
  display: inline-block;
}

.message-img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 25%;
  cursor: pointer;
}
