.blank {
  height: 125px;
  width: 125px;
}

.profile {
  height: 170px;
  width: 170px;
  background-color: transparent;
  border-radius: 100%;
}

.larger-image {
  object-fit: cover;
  height: 170px;
  width: 170px;
  background-color: transparent;
}
