body {
  background-color: #e5e5ff;
}

.profile-cont {
  position: relative;
  width: 100%;
}

.profile-form {
  background-color: white;
  margin: 50px auto;
  width: 1100px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  display: block;
  border: solid 1px;
  border-radius: 10px;
  border-color: black;
}

 button.upload-button {
   margin-left: -5px;
   font-size: 12pt;
}

.profile-button, button.upload-button {
  background-color: #e3e3e3;
  padding: 10px;
  margin-top: 30px;
  border-radius: 5px;
  color: black;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  vertical-align: bottom;
}

#update {
  margin-left: 140px;
}

.profile-button:hover, button.upload-button:hover {
  color: #999999;
}

.profile-button:active, button.upload-button:active {
  color: #999999;
}

.profile-form input[type="text"], textarea {
  border: solid 1px;
  padding: 5px;
  margin: 5px;
  border-color: #e3e3e3;
}

.attr-form input[type="radio"] {
  padding: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.cloud {
  display: inline-block;
  margin: 30px;
  margin-right: 50px;
  vertical-align: top;

}

.attr-form {
  display: inline-block;
  margin: 20px;
  margin-top: 100px;
  vertical-align: top;

}

.interest-form {
  display: inline-block;
  margin: 20px;
  margin-top: 100px;
  vertical-align: top;

}

.profile-form textarea {
  vertical-align: top;
}

.profile-label {
  display: inline-block;
  width: 135px;
  text-align: right;
}

#profile-textbox1, #profile-textbox2 {
  margin: 0;
}
