.search-container {
  width: 100%;
}

.search-div {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.search-text-field {
  height: 30px;
  width: 200px;
  display: inline;
	border-radius: 5px;
  border: solid 1px;
  border-color: gray;
  white-space: nowrap;
  background-color: white;
  margin-top: 20px;
  margin-left: 20px;
  color: black;
  font-size: 14pt;
}

.search-results {
  height: auto;
  padding: 10px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  }

.search-results li.user-item {
  width: 200px;
  cursor: pointer;
  height: 30px;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
  margin-left: 20px;
  color: black;
  font-size: 12pt;
}

.search-button, .enabled {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 5px 5px;
  height: 30px;
  border-radius: 5px;
}

.search-button:hover, .search-button:active, .enabled:hover, .enabled:active {
  color: #999999;
}

.disabled {
  display: none;
}
.search-bar {
  margin-bottom: 20px;
}

li.user-item {
  font-size: 12pt;
}

li.user-item:hover {
  background-color: #b3d1ff;
  font-size: 14pt;
}
