ul.side-scroll-ul {
  background-color: #4242f0;
  color: white;
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.container {
  background-color: #4242f0;
  width: 100%;
}

#header {
  border: 1px solid white;
  white-space: normal;
  line-height: 1.2;
  text-align: center;
  padding: 30px 20px;
}

#header, #no-text, #header-li {
  cursor: default;
}

.side-scroll-ul {
  white-space: nowrap;
  height: 200px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  padding-right: 40px;
  padding-top: 10px;
}

.side-scroll-li {
  white-space: nowrap;
  width: 160px;
  object-fit: cover;
  cursor: pointer;
  display: inline-block;
}

.side-scroll-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
  opacity: 1;
}

.side-scroll-li:hover img {
  opacity: 0.8;
}

.side-scroll-text:hover {
  color: #bfbfbf
}

.side-scroll-text {
  height: 25px;
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  font-size: 10pt;
}
