ul.side-scroll-ul {
  background-color: #4242f0;
  color: white;
  position: relative;
  margin: 0 auto;
  width: 1000px;
}

.container {
  background-color: #4242f0;
  width: 100%;
}

.side-scroll-ul {

  white-space: nowrap;
  height: 200px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

.side-scroll-li {
  white-space: nowrap;
  width: 160px;
  object-fit: cover;
  cursor: pointer;
  display: inline-block;
}

.side-scroll-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
}

.side-scroll-text {
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  font-size: 10pt;
}
