.sign-in-page {
  background-image: url(https://res.cloudinary.com/jolinar1013/image/upload/v1450830981/482260-space_o6vvsf.jpg);
  background-repeat: no-repeat;
  fit: stretch;
  height: 100%;
  width: 100%;
}

.splash-body {
  width:500px;
  position:relative;
  padding: 20px;
  margin: 100px auto;
  border-radius: 5px;
  background-color: white;
}

.new-user input[type="text"], .new-session input[type="text"] {
  border: solid 1px;
  padding: 0 0 0 5px;
  margin: 1px;
  letter-spacing: 0;
  border-color: #e3e3e3;
}

.new-user input[type="password"], .new-session input[type="password"] {
  border: solid 1px;
  padding: 0 0 0 5px;
  margin: 1px;
  letter-spacing: 0;
  border-color: #e3e3e3;
}

.new-user, .new-session, .guest-user {
  display: block;
  width: 100%;
  margin: 0 50px;
}

.bar {
  margin-left: 0;
}

.new-user input[type="submit"],
.new-session input[type="submit"],
.guest-user input[type="submit"]
{
  border-radius: 5px;
  padding: 10px;
}

.new-user input[type="submit"]:hover, .new-session input[type="submit"]:hover {
  color: #999999;
}

.new-user input[type="submit"]:active, .new-session input[type="submit"]:active {
  color: #999999;
}

@keyframes error {
  from {color: red;}
  to {color: back;}
}

.errors {
  margin-left: 20px;
  animation-name: error;
  animation-duration: 0.5s;
}

#sign-up{
  height: 39px;
}

.splash-body h1 {
  margin-left: 150px;
}
