body.sign-in-page {
  background-image: url(http://www.drodd.com/images10/space-wallpaper17.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  position:absolute;
  min-height: 100%;
  min-width: 100%;
}

.splash-body {
  width:500px;
  height: 500px;
  vertical-align: middle;
  position:relative;
  padding: 50px;
  margin: 100px auto;
  margin-bottom: 0;
  border-radius: 5px;
  background-color: white;
  color: black;
  max-height: 100%;

  overflow: hidden;
}

.logo-img {
  padding: 0;
  margin: 0 auto;
  margin-left: 75px;
  display: block;
}

#img-one {
  height: 50px;
  margin-bottom: 12px;
}

#img-two {
  height: 65px;
}

.new-user input[type="text"], .new-session input[type="text"] {
  border: solid 1px;
  padding: 0 0 0 5px;
  margin: 1px;
  letter-spacing: 0;
  border-color: #e3e3e3;
}

.new-user input[type="password"], .new-session input[type="password"] {
  border: solid 1px;
  padding: 0 0 0 5px;
  margin: 1px;
  letter-spacing: 0;
  border-color: #e3e3e3;
}

.new-user, .new-session, .new-page {
  display: block;
  width: 100%;
  margin: 0 50px;
}

.bar {
  margin-left: 0;
}

.new-user input[type="submit"],
.new-session input[type="submit"],
.guest-user input[type="submit"]
{
  border-radius: 5px;
  padding: 10px;
}

.new-user input[type="submit"]:hover, .new-session input[type="submit"]:hover {
  color: #999999;
}

.new-user input[type="submit"]:active, .new-session input[type="submit"]:active {
  color: #999999;
}

.errors {
  margin-left: 20px;
  color: red;
}

.splash-body h1 {
  margin-left: 150px;
}

.splash-body h4 {
  margin-left: 55px;
}

a {
  margin-left: 15px;
}
