.background {
  background-color: #4242f0;
  height: 150px;
}

.user-info {
  padding: 10px 10px 10px 20px;
  position: absolute;
  top: 50px;
  margin: 0 auto;
  display: block;
}

.user-info li, .user-info span {
  padding: 2px;
  height: 20px;
}

.user-details {
  border: solid 1px;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  width: 400px;
}

.left {
  display: inline-block;
  margin-left: 20px;
}

.profile-message {
  border: solid 1px;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  display: inline-block;
  margin-top: 190px;
  vertical-align: top;
}

.star {
  display: inline-block;
  font-size: 10pt;
  margin-top: -50px;
}

.fan-boolean {
  display: inline-block;
  margin: 10px 20px 10px 80px;
  color: white;
}

.star-form {
  color: black;
  cursor: auto;
  margin-left: 10px;
}

.star-form span {
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
  background-color: #e3e3e3;
  cursor: pointer;
}

.star-form span:hover {
  color: #999999;
}

.like-checkbox {
  display: none;
}

.like-checkbox + label {
  background: url('https://res.cloudinary.com/jolinar1013/image/upload/c_crop,g_center,h_270,w_270/v1467252673/insignia1_zehoto.png');
  background-repeat: no-repeat;
  background-size: 50px 50px;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: -5px;
  padding: 10px;
}

.like-checkbox:checked + label {
  background-size: 50px 50px;
  background: url('https://res.cloudinary.com/jolinar1013/image/upload/c_crop,g_center,h_270,w_270/v1467252673/insignia2_kujjzr.png');
  background-repeat:round;
}
