.background {
  background-color: #4242f0;
  height: 150px;
}

.user-info {
  padding: 10px 10px 10px 20px;
  position: absolute;
  top: 50px;
  width: 800px;
  margin: 0 0 auto auto;
}

.user-info li, .user-info span {
  padding: 2px;
  height: 20px;
}

.star-form {
  margin-top: 20px;
  display: inline;
  width: 20px;
  height: 20px;
  color: black;
  padding: 5px;
}

#star-checkbox {
  margin-top: -5px;
  margin-left: 0;
  display: inline;
  width: 20px;
  height: 20px;
  padding: 10px;
}

.user-body {
  width: 100%;
  height: 90%;
}
/*.user-body form {
  position: absolute;
  bottom: 100px;
}*/
