<div class="testimonials">

  <div class="testimonial-item">
    <img class="testimonial-pic" src="https://res.cloudinary.com/jolinar1013/image/upload/v1450749554/OkAlpha/ezpbtcpeztqfwt3tgzdo.png"/>
    <div class="intro">
      <div class="name">James T. Kirk</div>
      <img class="rating" src="https://res.cloudinary.com/jolinar1013/image/upload/v1469838009/five-stars_j9xy1c.png"/>
    </div>
    <div class="review">"Ever since I signed up for OkAlpha, I've had a date with women every different color of the rainbow. The universe is an amazing place."</div>
    <div class="testimonial-date">- January 2016</div>
  </div>

  <div class="testimonial-item">
    <img class="testimonial-pic" src="https://res.cloudinary.com/jolinar1013/image/upload/v1451934272/OkAlpha/ecrpo43qcpdbzcdxcyv2.jpg"/>
    <div class="intro">
      <div class="name">Kathryn Janeway</div>
      <img class="rating" src="https://res.cloudinary.com/jolinar1013/image/upload/v1469838009/five-stars_j9xy1c.png"/>
    </div>
    <div class="review">"I've been using OkAlpha ever since my fiance and I got seperated by 75,000 light years. It's been a ton of fun!"</div>
    <div class="testimonial-date">- March 2016</div>
  </div>

  <div class="testimonial-item">
    <img class="testimonial-pic" src="https://res.cloudinary.com/jolinar1013/image/upload/v1451932445/OkAlpha/s3i8anrkxrmgxvuqxeta.jpg"/>
    <div class="intro">
      <div class="name">Data</div>
      <img class="rating" src="https://res.cloudinary.com/jolinar1013/image/upload/v1469838016/four-stars_eqgt2d.png"/>
    </div>
    <div class="review">"OkAlpha proved to be very enlightening about human emotions and mating rituals. But also very perplexing."</div>
    <div class="testimonial-date">- April 2016</div>
  </div>

  <div class="testimonial-item">
    <img class="testimonial-pic" src="https://res.cloudinary.com/jolinar1013/image/upload/v1451933897/OkAlpha/v8kcq1glwhu2z1ccgnx0.jpg"/>
    <div class="intro">
      <div class="name">Four of Eleven</div>
      <img class="rating" src="https://res.cloudinary.com/jolinar1013/image/upload/v1469840053/one-stars_o5iejr.png"/>
    </div>
    <div class="review">"ASSIMALATE RESISTANCE IS FUTILE ASSIMILATE."</div>
    <div class="testimonial-date">- July 2016</div>
  </div>

</div>
